.ant-segmented-item {
    transition: cyan 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .ant-segmented-item-selected {
    background-color: skyblue;
  }
  
  .ant-segmented-thumb {
    background-color: lightgreen;
  }
  .table-row-light {
    background-color: #effafc;
}
.table-row-dark {
    background-color: #f5fdcee7;
}
.custom-table-wrapper .ant-table-thead > tr > th {
  background-color: lavender;
}