.panel_button {
    background-color: rgb(45, 2, 106);
    color: white;
}

.ant-submit-btn {
    background-color: green;
}

.ant-table-wrapper .ant-table-tbody>tr>td>.ant-table-wrapper:only-child .ant-table {
    margin-inline-start: -10px;
    margin-inline-end: -15px;
    margin-block: -18px
}

.highlight-column {
    background-color: cornsilk;
}


.custom-table-wrapper .ant-table-thead > tr > th {
    background-color: lavender;
  }
