.test-table-xls-button{
    color: #fff;
    background-color: #1890ff;
    box-shadow: 0 2px 0 rgba(5, 175, 255, 0.1);
    font-size: 12px;
      height: 28px;
      padding: 3px 11px;
      border-radius: 6px;
  }