.div-des {
    display: inline;

    flex-direction: row;
    width: 100%;
}
.ta-b {
    padding: 10px;
  }
  
  .ta-th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-weight: bolder;
    text-align: center;
  }